- name: update apt
  apt: >
    update_cache=yes
    cache_valid_time=3600

- name: install deps
  apt: >
    pkg=dnsmasq
    state=installed

- name: configure consul dnsmasq
  copy: >
    content='server=/{{ consul_domain }}/127.0.0.1#8600'
    dest=/etc/dnsmasq.d/10-consul
  notify:
    - restart dnsmasq

- name: configure dnsmasq
  template: src=etc/dnsmasq.conf.j2 dest=/etc/dnsmasq.conf
  register: configurednsmasq
  notify: restart dnsmasq
